body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #815017;
}

@font-face {
    font-family: "Overcooked";
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot");
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.svg#Overcooked")format("svg");
}
.titulo-centrado {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 8px;
    font-size: 50pt;
}
.subtitulo {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 1.5px;
    letter-spacing: 4px;
    font-size: 25pt;
    width: 45%;
}

/* menu superior */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #57330b;
    color: #d39f64;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #d39f64;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
    display: block;
}
.subitemul {
    text-align: center;
    background-color:#6b43159c;
}
.subitemul:hover {
    background-color: #d39f646c;
    color: #6b4315;
}

/*###############################################################################*/

.container {
    margin: 5%;
    padding: 2%;
    width: 90%;
    height: 1000px;
}
.titulo-centrado {
    padding: 3%;
    margin: auto;
}
.subtitulo {
    margin: auto;
    padding-top: 2%;
}
.cont-noticias {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 90%;
    padding-left: 5%;
    margin-top: 3%;
    padding-bottom: 5%;
}
.noticia1 {
    width: 85%;
    grid-column: 1;
    height: 400px;
    border: solid white 1px;
    margin-top: 1%;
}
.noticia2 {
    width: 85%;
    grid-column: 2;
    height: 400px;
    border: solid white 1px;
    margin-top: 1%;
}
.noticia3 {
    width: 85%;
    grid-column: 3;
    height: 400px;
    border: solid white 1px;
    margin-top: 1%;
}

.footer {
    background-color: #815017;
    color: #d39f64;
    text-align: center;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.titulo-articulo {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 3px;
    font-size: 30pt;
}
.text-articulo {
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    font-size: 12pt;
}
.enlaceart {
    margin: 5%;
    display: flex;
    justify-self: center;
    text-decoration: none;
    text-align: center;
    border: 1px solid #d39f64;
    border-radius: 8%;
    padding: 2%;
    
}
.img-cabeza {
    padding-top: 2%;
    width: 75%;
    display: flex;
    justify-self    : center;
}