body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #815017;
}

@font-face {
    font-family: "Overcooked";
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot");
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.svg#Overcooked")format("svg");
}
.titulo-centrado {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 8px;
    font-size: 50pt;
}
.subtitulo {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 1.5px;
    letter-spacing: 4px;
    font-size: 25pt;
    width: 45%;
}

/* menu superior */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #57330b;
    color: #d39f64;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #d39f64;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
    display: block;
}
.subitemul {
    text-align: center;
    background-color:#6b43159c;
}
.subitemul:hover {
    background-color: #d39f646c;
    color: #6b4315;
}

/*###############################################################################*/

.container {
    margin-top: 80px;
    margin: 5%;
    padding: 2%;
    border: solid white 1px;
    width: 90%;
    height: 1000px;
}
.titulo-centrado {
    padding: 3%;
    margin: auto;
}
.subtitulo {
    margin: auto;
    padding-top: 2%;
}
