body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #815017;
}

@font-face {
    font-family: "Overcooked";
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot");
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.svg#Overcooked")format("svg");
}
.titulo-centrado {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 8px;
    font-size: 50pt;
}
/* menu superior */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #57330b;
    color: #d39f64;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}

.logo-r {
    float: left;
    width: 3%;
    margin-left: 2%;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #d39f64;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
    display: block;
}
.subitemul {
    text-align: center;
    background-color:#6b43159c;
}
.subitemul:hover {
    background-color: #d39f646c;
    color: #6b4315;
}

/*###############################################################################*/

.container {
    display: grid;
    justify-content: space-between;
    width: 72%;
    margin-bottom: 70px;
}

/* ### CENTRO PAGINA PRINCIPAL ###*/
.content {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    padding: 0;
    display: flex;
}

/* caja central y animacion */
.bienvenida {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25%;
    margin: 0;
    text-align: center;
    animation-name: agrandar-texto;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes agrandar-texto {
    0% {
        background-color: #00000000;
        color: #d39f6400;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.400);
        color: #d39f64;
    }
}

/* #################################################### */
.bienvenida button {
    background-color: #000000;
    color: #d39f64;
    width: 25%;
    padding: 2%;
    text-align: center;
}

.bienvenida a {
    text-decoration: none;
}

/* Barras laterales*/
.sidebar {
    width: 10%;
    padding: 2%;
    background-color: #815017;
    height: 1000px;
}

.cuerpo {
    color: #d39f64;
}

.caja-publi {
    border: #d39f6486 double 3px;
    margin-top: 35%;
    width: fit-content;
}

.caja-publi img {
    margin-top: 5%;
    width: 95%;
    height: 300px;
}

.derecha {
    position: fixed;
    right: 0%;
}

.izquierda {
    position: fixed;
    left: 0%;
}

.footer {
    background-color: #57330b;
    color: #d39f64;
    text-align: center;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* HORARIO */
table {
    animation: ampli-table forwards 5s;
}
@keyframes ampli-table {
    0% {
        width: 0%;
        margin-right: 0%;
    }
    25% {margin-right:25%;}
    50% {margin-right:50%;}
    75% {margin-right:25%;}
    100% {
        width: 50%;
        margin-right: auto;
    }
    
}
table {
    margin: auto;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.table-header {
    text-align: center;
    font-size: 24px;
    animation: colorhead forwards 5s;
}
@keyframes colorhead {
    0% {
        background-color: #a0662400;
        color: black
    ;}
    100% {
        background-color: #a06624;
        color: white;
    }
    
}
.form {
    margin: 5%;
    width: 90%;
}
.Formulario {
    margin: 5%;
    width: 75%;
    border: solid #d39f64 1px;
}

/* ####### FORMULARIO ############ */
.form {
    border: solid 1px white;
    margin: auto;
    width: 50%;
    padding: 2%;
}
.formulario {
    justify-self: center;
}
}
.formulario label {
}
}
.formulario input {
}