body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #815017;
}

@font-face {
    font-family: "Overcooked";
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot");
    src: url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/4d9ee5a678d899047a987f0408b4b052.svg#Overcooked")format("svg");
}

.titulo-centrado {
    font-family: "Overcooked";
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 8px;
    font-size: 50pt;
    background-image: linear-gradient(to top, #815017, #d39f64);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.subtitulo {
    font-family: "Overcooked";
    text-align: justify;
    word-spacing: 4px;
    letter-spacing: 8px;
    font-size: 25pt;
    background-image: linear-gradient(to top, #815017, #d39f64);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.btn-saber-mas a {
    color: #d3d3d3;
    text-decoration: none;
}

.btn-saber-mas {
    background-color: #4e2e09;
    color: #d39f64;
}

.btn-saber-mas:hover {
    color: #4e2e09;
    background-color: #d39f64;
}

/* menu superior */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #57330b;
    color: #d39f64;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    position: relative;
}

.logo-r {
    float: left;
    width: 3%;
    margin-left: 2%;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #d39f64;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul li:hover {
    background-color: #d39f6459;
    display: block;
    animation: AparicionMenu;
    animation-duration: 2s;
}

@keyframes AparicionMenu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

    .subitemul {
        text-align: center;
        background-color: #6b43159c;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .subitemul li:hover {
        background-color: #d39f646c;
        color: #6b4315;
    }

    /*###############################################################################*/

    .container {
        display: grid;
        justify-content: space-between;
        width: 72%;
        margin-bottom: 70px;
    }

    /* ### CENTRO PAGINA PRINCIPAL ###*/
    .content {
        background-image: url("../img/fondo.png");
        background-size: cover;
        background-repeat: no-repeat;
        flex-grow: 1;
        padding: 0;
        display: flex;
    }

    /* caja central y animacion */
    .bienvenida {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 25%;
        margin: 0;
        text-align: center;
        animation-name: agrandar-texto;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes agrandar-texto {
        0% {
            background-color: #00000000;
            color: #d39f6400;
        }

        100% {
            background-color: rgba(0, 0, 0, 0.400);
            color: #d39f64;
        }
    }

    /* #################################################### */
    .bienvenida button {
        background-color: #000000;
        color: #d39f64;
        width: 25%;
        padding: 2%;
        text-align: center;
        animation-name: agrandar-boton;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    @keyframes agrandar-boton {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }


    .bienvenida a {
        text-decoration: none;
    }

    /* Barras laterales*/
    .sidebar {
        width: 10%;
        padding: 2%;
        /*    background-color: #815017;*/
        background: rgb(87, 51, 11);
        background: linear-gradient(90deg, rgba(87, 51, 11, 1) 0%, rgba(129, 80, 23, 1) 50%, rgba(87, 51, 11, 1) 100%);
        height: 1259px;
        animation: rotation 2s 2 linear;
    }

    @keyframes rotation {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(360deg);
        }
    }

    .cuerpo {
        color: #d39f64;
    }

    .caja-publi {
        border: #d39f6486 double 3px;
        margin-top: 35%;
        width: fit-content;
    }

    .caja-publi img {
        margin-top: 5%;
        width: 95%;
        height: 300px;
    }

    .derecha {
        padding-top: 100px;
        position: absolute;
        right: 0%;
    }

    .izquierda {
        padding-top: 100px;
        position: absolute;
        left: 0%;
    }

    .footer {
        background-color: #57330b;
        color: #d39f64;
        text-align: center;
        height: 50px;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }


    /* HORARIO */
    table {
        animation: ampli-table forwards 5s;
    }

    @keyframes ampli-table {
        0% {
            width: 0%;
            margin-right: 0%;
        }

        25% {
            margin-right: 25%;
        }

        50% {
            margin-right: 50%;
        }

        75% {
            margin-right: 25%;
        }

        100% {
            width: 50%;
            margin-right: auto;
        }

    }

    table {
        margin: auto;
        border-collapse: collapse;
        font-size: 18px;
        text-align: left;
    }

    th,
    td {
        padding: 12px;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .table-header {
        text-align: center;
        font-size: 24px;
        animation: colorhead forwards 5s;
    }

    @keyframes colorhead {
        0% {
            background-color: #a0662400;
            color: black;
        }

        100% {
            background-color: #a06624;
            color: white;
        }

    }

    tr:hover {
        background-color: #d39f64;
        color: #615017;
    }

    .form {
        margin: 5%;
        width: 90%;
    }

    .Formulario {
        margin: 5%;
        width: 75%;
        border: solid #d39f64 1px;
    }

    /* ####### FORMULARIO ############ */
    .form {
        border: solid 1px white;
        margin: auto;
        width: 50%;
        padding: 2%;
    }

    .formulario {
        justify-self: center;
        color: #d39f64;
    }

    form label {
        display: block;
        justify-self: center;
        margin-bottom: 1%;
        font-size: 20pt;
        letter-spacing: 4px;
    }

    form input {
        display: block;
        justify-self: center;
        width: 100%;
        height: 25px;
        text-align: center;
        border-radius: 25%;
        padding: 1.33%;
        background-color: #f3b36a;
    }

    form input:focus {
        border-radius: 15%;
        color: #815017;
        background-color: #d39f64;
    }

    .botones {
        display: grid;
        justify-self: center;
        text-align: center;
        width: 100%;
    }

    .btn {
        display: inline;
    }

    .btn button {
        border-radius: 15%;
        height: auto;
        padding: 2%;
        margin: 1%;
        background-color: #4e2e09;
        color: #d39f64;
    }

    .btn button:hover {
        color: #4e2e09;
        background-color: #d39f64;
    }

    .ignorestyle input {
        border-radius: 0% !important;
        border: 0px !important;
        background-color: #694011;
        color: #d39f64;
    }

    .video {
        padding-top: 15%;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .video iframe {
        width: 75%;
        height: 500px;
    }